<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
</head>
<body>

    <p>show page</p></br>
    <a href="/fruit/index">목록으로가기</a> </br></br>

    name : <%=@Fruit.name %> </br>
    size : <%=@Fruit.size %> </br>
    country : <%=@Fruit.country %> </br>
    season : <%=@Fruit.season %> </br>
    price : <%=@Fruit.price %> </br>
    color : <%=@Fruit.color %> </br></br>

  <a href="/fruit/<%=@Fruit.id%>/edit">수정하기</a> </br></br>
</body>
</html>